
<!-- About Section -->
  <div class="about3-container about3-padding-32" id="about">
    <h3 class="about3-border-bottom about3-border-light-grey w3-padding-16">About</h3>
    <p> we are  info on about us.
    </p>
  </div>

<!-- image & information of the developers -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="image of viraj sir" alt="viraj" style="width:100%">
      <h3>viraj</h3>
      <p class="w3-opacity">Senior Web Developer</p>
      <p>information about viraj sir</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>

      <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="vrushal image" alt="vrushal" style="width:100%">
      <h3>Vrushal TUnge</h3>
      <p class="w3-opacity">Web Page developer</p>
      <p>information about vrushal</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="prashant image" alt="prashant" style="width:100%">
      <h3>Prashant taware</h3>
      <p class="w3-opacity">web page developer</p>
      <p>infromation on prashnt</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>

  </div>