{% extends "base.html" %}
{% block content %}

<!-- Header -->
<header class="head3-display-container head3-content head3-wide" style="max-width:1500px;" id="home">
  <img class="head3-image" src="image1.jpg" alt="electric" width="1500" height="800">
  <div class="head3-display-middle w3-margin-top w3-center">
    <h1 class="head3-xxlarge head3-text-white"><span class="head3-padding head3-black head3-opacity-min"><b>Electric</b></span> <span class="head3-hide-small head3-text-light-grey">Vehicle</span></h1>
  </div>
</header>