{% extends "base.html" %}
{% block content %}


<!-- Navbar (sit on top) -->
<div class="bar3-top">
  <div class="bar3-bar bar3-white bar3-wide bar3-padding bar3-card">
    <a href="#home" class="bar3-bar-item bar3-button"><b>Electric</b> Vehicle</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="bar3-right bar3-hide-small">
      <a href="#info" class="bar3-bar-item bar3-button">Info</a>
      <a href="#about" class="bar3-bar-item bar3-button">About</a>
      <a href="#contact" class="bar3-bar-item bar3-button">Contact</a>
    </div>
  </div>
</div>