{% extends "base.html" %}
{% block content %}

<!-- Page content -->
<div class="pagecon3-content pagecon3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="pagecon3-container pagecon3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Projects</h3>
  </div>
   <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">survey</div>
        <img src="pune pcmp image" alt="map" style="width:100%">
      </div>
    </div>
     <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Delhi</div>
        <img src="delhi image" alt="map" style="width:100%">
      </div>
    </div>
       <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Mumbai</div>
        <img src="mumbai image" alt="imgage" style="width:100%">
      </div>
    </div>
       <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Goa</div>
        <img src="goa image" alt="map" style="width:99%">
      </div>
    </div>
  </div>